/*
    *{ border: 1px solid red; }
*/

body {
    color: black;
    font-family: "Ariel", sans-serif;
}

.bg {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: cover;
}

.bg_loginsuccess {
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: cover;
}

#logo {
    padding-top: 30px;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.zigsawifi_form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.zigsawifi_form_success {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#country_code {
    width: 120px;
}

#test {
    display: block;
}

#phone_number {
    width: 200px;
}

#login {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#devices {
    text-align: center;
    margin: 0;
}

#handle {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

#thanks {
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

#result {
    text-align: center;
    margin: 0;
    margin-top: 40px;
}

#customers {
    text-align: center;
    margin: 0;
}

#powered {
    text-align: center;
    margin: 0;
    margin-top: 100px;
}

#powered_verify {
    text-align: center;
    margin: 0;
    margin-top: 100px;
}

#powered_verifypass {
    text-align: center;
    margin: 0;
    margin-top: 160px;
}

#powered_loginsuccess {
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

#powered_handle {
    text-align: center;
    margin: 0;
    margin-top: 220px;
}

#powered_thanks {
    text-align: center;
    margin: 0;
    margin-top: 220px;
}

#powered_welcome {
    text-align: center;
    margin: 0;
    margin-top: 210px;
}

#copyright {
    text-align: center;
    margin: 0;
}

#codeError {
    display: none;
    margin-bottom: 10px;			   
}	 

#gap {
    margin-top: 5px;
}

.centered_elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.terms {
    font-size: 10px;
}

.terms:hover {
    color: white;
}

a {
    color: black;
    text-decoration: underline;           
}

a:hover {
    color: black;
}

#checkbox_align {
    margin: auto;
    width: 76%;
    margin-left: 85px;
}

#check_1 {
    margin-top: 10px;
    margin-bottom: 0;
}

#modal-body {
    color: black;
    font-family: "Ariel", sans-serif;
}				   

#button_center {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center
}

/* Media Query for Desktops */

@media only screen and (min-width: 768px) {
    html {
        overflow: hidden;
    }
    .bg {
        position: absolute;
        background-size: 100% 100%;
    }
    #logo {
        padding-top: 50px;
        max-width: 10%;
    }
    #country_code {
        width: 120px;
    }
    #phone_number {
        width: 200px;
    }
    #powered {
        margin-top: 150px;
    }
    #powered_verify {
        margin-top: 120px;
    }
    #powered_verifypass {
        margin-top: 220px;
    }
    #powered_loginsuccess {
        margin-top: 85px;
    }
    #powered_handle {
        margin-top: 275px;
    }
    #powered_thanks {
        margin-top: 275px;
    }
    #powered_welcome {
        margin-top: 270px;
    }
    .zigsawifi_form {
        margin-top: 50px; display: flex; flex-wrap: wrap; flex-direction: column; align-items: center;
    }
    #checkbox_align {
        margin: auto; width: 30%; margin-left: 570px;
    }
    #check_1 {
        margin-left: 20px; margin-top: 15px;
    }
}

/* Media Query for iPads */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #checkbox_align {
        margin-left: 38%;
        width: 45%; 
    }
    #check_1 {
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: stretch;
    }
    #powered {
        margin-top: 300px;
    }
    #powered_verify {
        margin-top: 270px;
    }
    #powered_verifypass {
        margin-top: 370px;
    }
    #powered_loginsuccess {
        margin-top: 235px;
    }
    #powered_handle {
        margin-top: 420px;
    }
    #powered_thanks {
        margin-top: 420px;
    }
    #powered_welcome {
        margin-top: 410px;
    }
    #logo {
        max-width: 20%;
    }
}